<!--Name: Jocelyn Dupuis-->
<!--File: about.component.html-->
<!--Date: 12/06/2023-->
<!--Description: HTML file for about component-->

<!--HTML file for about page-->
<div fxLayout="row wrap">

  <div fxFlex>

    <div fxLayout="column">
      <!--image display-->
      <div>
        <img src="./assets/hufflepuff-logo.jpeg" width="50%" />
      </div>

      <!--photo attribution and link-->
      <div>
        <em>
          Photo by <a class="attribution-link" href="https://downandoutbooks.com/joe-ricker/" target="_blank">blah</a>
        </em>
      </div>
    </div>
  </div>

  <!--details about the loan app business-->
  <div fxFlex>
    <h2 class="yellow">Welcome To The About Us Page!</h2>
    <p>
      Hi, and welcome to the Hufflepuff Loan Calculator! If you cannot tell, we are an app specializing in calculating loan interests. However, we are much more than just that. We are a loan app inspired by Harry Potter, specifically the Hufflepuff House. You might ask yourself, why would a loan app be inspired by a particular house from Harry Potter? Well, let us explain…
    </p>

    <p>
      If you're unfamiliar with Harry Potter (we’ll get you there; don’t worry), Hufflepuff is one of the four Houses of Hogwarts School of Witchcraft and Wizardry and was founded by the medieval witch Helga Hufflepuff. You’re probably still wondering why our loan app is inspired by the Hufflepuff House. So here it goes…
    </p>

    <p>
      The Hufflepuff House is the MOST inclusive among the four houses, valuing hard work, dedication, patience, loyalty, and fair play rather than a particular aptitude in its members. The wizards of Hufflepuff are the friendliest of all, just like us. Our personalities, like those in the Hufflepuff House, embody what it means to wear the iconic yellow and black because we are caring. You see, this is where our inspiration comes from because we pride ourselves in caring about our users, being inclusive, and our dedication to accurate calculations.
    </p>

    <p>
      The Hufflepuff Loan Calculator is an easy, FREE-to-use online loan calculator that specializes in estimating your monthly payment and how much interest will be paid through the term of your loan. We have taken away the hassles of trying to figure out what can be…a daunting and annoying task for you with our professional wizardry. And make no mistake, your loan information is secret safe with us!
    </p>

    <em>Biography written by Jocelyn Dupuis</em>
  </div>
</div>

