/**
File: app.component.scss
Name: Jocelyn Dupuis
Date: 12/06/2023
Description: css file for app component
*/

/**styling for image*/
img {
  margin-top: 40px;
  margin-left: 40px;
}

/**styling for photo attribution*/
div em {
  margin-left: 40px;
}

/**styling for paragraph elements*/
div p {
  margin-right: 40px;
}
