<!--Name: Jocelyn Dupuis -->
<!--File: contact.component.html -->
<!--Date: 11/14/2023-->
<!--Description: HTML file for home component-->

<!--HTML file for home page-->
<p>Hufflepuff Calculator Coming Soon!</p>

<div fxLayout="row wrap" fxLayoutGap="20px">
    <!--displays loan form-->
    <div fxFlex class="grade-form">
      <!--loan entry info-->
      <mat-card class="mat-elevation-z8">
        
        
        <mat-card-content>
          <form fxLayout="column" fxLayoutGap="14px">
             <!--form field for loan amount-->
             <mat-card-title>Loan Amount:</mat-card-title>
            <mat-form-field fxFlex appearance="fill">
              <input type="text" name="txtLoan" required id="txtLoan" matInput formControlName="loan" />
            </mat-form-field>

            <!--form field for interest amount-->
            <mat-card-title>Interest Rate (ex: 3.5):</mat-card-title>
            <mat-form-field fxFlex appearance="fill">
              <input type="text" name="txtInterest" required id="txtInterest" matInput formControlName="interest" />
            </mat-form-field>

             <!--form field for number of years-->
             <mat-card-title>Number of Years:</mat-card-title>
            <mat-form-field fxFlex appearance="fill">
              <input type="text" name="numOfYears" required id="numOfYears" matInput formControlName="year" />
            </mat-form-field>
            
            <button type="submit" [disabled]="" mat-raised-button color="primary">Calculate</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <!--displays loan summary-->
    <div fxFlex class="loan-summary">
        <mat-card-title class="yellow">Your monthly payment:</mat-card-title>
        <br />
        <mat-card-content>
          <!--monthly payment calculations-->
        </mat-card-content>

        <mat-card-title class="yellow">Interest:</mat-card-title>
        <br />
        <mat-card-content>
          <!--interest calculations-->
        </mat-card-content>
    </div>
</div>

